@model CentralMotors.Models.Fabricante

@{
    ViewData["Title"] = "Delete";
}
<body style="background:url(/IMG/logo-virada.png) no-repeat fixed center center; background-size: 20%;margin-top:120px;">

    <h1>Excluir</h1>

    <h3>Você tem Certeza que Deseja Excluir este Fabricante?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
                <p>ID do Fabricante</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FabricanteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

        <form asp-action="Delete">
            <br />
            <input type="submit" value="Excluir" class="btn btn-danger" />
            <a asp-action="Index" style="font-size: 15px; text-decoration: none; color: #007bff; border: 2px solid #007bff; border-radius: 8px; padding: 5px; display: inline-block;">Retornar</a>

        </form>
</div>
</body>